<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="Log"/>
  <targets>
    <target name="Info" xsi:type="Trace"/>
    <target name="Debug" xsi:type="Trace"/>
    <target name="Exception" xsi:type="Trace"/>
    <target name="Fatal" xsi:type="Trace"/>
    <target name="Warn" xsi:type="Trace"/>
    <target name="Client" xsi:type="Trace"/>
    <target name="SqlError" xsi:type="Trace"/>
    <target name="Complement" xsi:type="Trace"/>
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="Info"/>
    <logger name="*" level="Debug" writeTo="Debug"/>
    <logger name="*" level="Error" writeTo="Exception"/>
    <logger name="*" level="Fatal" writeTo="Fatal"/>
    <logger name="*" level="Warn" writeTo="Warn"/>
    <logger name="Client" level="Trace" writeTo="Client"/>
    <logger name="Sql" level="Trace" writeTo="SqlError"/>
    <logger name="Complement" level="Trace" writeTo="Complement"/>
  </rules>
</nlog>
